.home {
  position: relative;
  overflow: hidden;
  padding: 13.75rem 0 9.1rem;
  &__circles {
    position: absolute;
    right: 0;
    top: 0;
  }
  &__image {
    position: absolute;
    border-radius: 50%;
    right: 0;
    top: 0;
    width: clamp(250px, 62.5vw, rem(1000));
    picture, img {
      width: inherit;
    }
  }
  &__info {
    overflow: hidden;
    max-width: rem(570);
    margin-right: auto;
    position: relative;
    z-index: 10;
  }
  &__title {
    margin-bottom: rem(12);
  }
  &__descr {
    margin-bottom: rem(42);
    p {
      font-size: 1.25rem;
      text-transform: uppercase;
      line-height: 150%;
    }
  }
}

@include max-width($m-q) {
  .home {
    padding: 21.375rem 0 0;
    &__image {
      right: clamp(1.125rem, 8.5vw, 8.5rem);
      top: rem(60);
      width: rem(260);
      z-index: 10;
    }
    &__circles {
      top: -40%;
      width: rem(650);
      height: rem(650);
      z-index: 5;
      picture, img {
        width: inherit;
        height: inherit;
      }
    }
    &__contact {
      .btn-text {
        min-width: rem(240);
      }
    }
    &__descr {
      margin-bottom: rem(25);
      max-width: rem(310);
      p {
        font-size: rem(14);
      }
    }
  }
}

@include max-width($s-mob-q) {
  .home {
    &__image {
      right: 1.125rem;
    }
  }
}

@include min-width(140.625em) {
  .home {
    &__image {
    }
  }
}
