$serv-row-gap: 0.4781rem;
$overlay-clr: hsla(0, 0%, 17%, 0.8);


.hov-circle {
  transform: scale(1.25);
  &::after {
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }
}

.services {
  padding: 5rem 0 8.75rem;
  &__title {
    justify-content: flex-end;
    margin-bottom: 1.25rem;
  }
  &__row {
    // flex-wrap: wrap;
    @include df(row, center);
    grid-gap: $serv-row-gap;
    overflow: visible;
  }
  &__row-item {
    overflow: visible;
    position: relative;
    @include f-layout(4, $serv-row-gap);
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    transition: all var(--trans-300) !important;
    @include df(column, center);
    justify-content: center;
    background-size: cover;
    background-position: 75% center;
    background-repeat: no-repeat;
    padding: 0 rem(40);
    cursor: pointer;
    &:hover {
      transform: scale(1.04);
    }
    &::before {
      @include psevdo;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background-color: $overlay-clr;
      z-index: 10;
    }
    &::after {
      @include psevdo;
      z-index: 15;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      transition: var(--trans-300);
      opacity: 1;
      will-change: opacity;
    }
    &_green {
      background-image: url('../../img/services/development-overlay.png');
      &::after {
        background-color: var(--t-clr);
      }
    }
    &_dark {
      background-image: url('../../img/services/marketing-overlay.png');
      &::after {
        background-color: var(--b-clr);
      }
    }
    &_purple {
      background-image: url('../../img/services/strategy-overlay.png');
      &::after {
        background-color: var(--p-clr);
      }
    }
    &_orange {
      background-image: url('../../img/services/creative-overlay.png');
      &::after {
        background-color: var(--o-clr);
      }
    }
  }
  &__row-info {
    transform: scale(.75);
    position: relative;
    z-index: 12;
  }
  &__row-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    font-size: 2rem;
    font-weight: 800;
    color: var(--w-clr);
  }
  &__row-heading {
    font-weight: 800;
    color: var(--w-clr);
    margin-bottom: rem(10);
    font-size: 2rem;
  }
  &__row-descr {
    p {
      font-size: 1rem;
      color: var(--w-clr-300);
      line-height: 150%;
    }
  }
}

.active-circle {
  width: 410px !important;
  &::after {
    transform: scale(0);
  }
  .services__row-name {
    opacity: 0;
  }
}

@include max-width($t-q) {
  .active-circle {
    width: calc((100% / 2) - 1rem) !important;
  }
  .services {
    &__row {
      flex-wrap: wrap;
      grid-gap: 1.25rem;
    }
    &__row-item {
      @include f-layout(2, 1rem);
    }
  }
}

@include max-width(34.375em) {
  .active-circle {
    .services {
      &__row-info {
        opacity: 1;
      }
      &__row-item {
      }
    }
  }
  .services {
    &__row-info {
      opacity: 0;
      transition: 200ms ease;
    }
    &__row-descr {
      p {
        font-size: rem(14);
      }
    }
    &__title {
      justify-content: flex-end;
      @include df(row-reverse, flex-end);
      margin-bottom: rem(27);
      img {
        transform: translateY(-5px)
      }
    }
    &__row-name {
      font-size: rem(24);
    }
    &__row-heading {
      font-size: rem(24);
    }
    &__row {
      @include df(column, center);
    }
    &__row-item {
      overflow: hidden;
      transition: 500ms ease;
      &:nth-child(1) {
        width: 100% !important;
        height: 100% !important;
      }
      &:nth-child(2) {
        width: 75% !important;
        height: 75% !important;
      }
      &:nth-child(3) {
        width: 65% !important;
        height: 65% !important;
      }
      &:nth-child(4) {
        width: 55% !important;
        height: 55% !important;
      }
    }
  }
}
